* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
}


/*THE HEADER STARTS HERE*/

header {
  height: 85px;
  max-width: 960px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.left_side {
  display: flex;
}

.logo {
  height: 2em;
  margin: 1.5em;
}

.tagline {
  display: block;
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 1.5em;
}

.primary_nav{
  margin-top: 0.55em;
  width: 75%;
  text-align: right;
}

.primary_nav li {
  display: inline-block;
}

.primary_nav a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 1em;
  padding: 6px 15px;
}

/*.button {
  border-radius: 5px;
  border: 1px solid black;
}*/

#myBtn {
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 0.9em;
  padding: 0.5em 0.9em;
  font-weight: 300;
}


/*THE HEADER ENDS HERE*/
/*THE MAIN CONTENT STARTS HERE*/

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main div {
  min-width: 25%;
}

.main div img {
  width: 100%;
  height: 100%;
}


/* ANIMATION OVERLAY LEFT TO RIGHT*/

.main .container_lr .overlay_lr {
  min-width: 0%;
}

.container_lr {
  position: relative;
}

.overlay_lr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  min-width: 0%;
}

.container_lr:hover .overlay_lr {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 12.5em;
}

.text h2 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  margin: 0;
  line-height: 1em;
}

.text p {
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  margin: 0em;
}
/* END OF ANIMATION OVERLAY LEFT TO RIGHT*/
/* ANIMATION OVERLAY RIGHT TO LEFT*/

.main .container_rl .overlay_rl {
  min-width: 0%;
}

.container_rl {
  position: relative;
}

.overlay_rl {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #5321b9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  min-width: 0%;
}

.container_rl:hover .overlay_rl {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 12.5em;
}

/* END OF ANIMATION OVERLAY RIGHT TO LEFT*/
/* ANIMATION OVERLAY DOWN TO UP*/

.main .container_du .overlay_du {
  min-width: 0%;
}

.container_du {
  position: relative;
}

.overlay_du {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff8400;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container_du:hover .overlay_du {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 12.5em;
}
/* END OF ANIMATION OVERLAY DOWN TO UP*/
/* ANIMATION OVERLAY UP TO DOWN*/

.main .container_ud .overlay_ud {
  min-width: 0%;
}

.container_ud {
  position: relative;
}

.overlay_ud {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ee3349;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container_ud:hover .overlay_ud {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 12.5em;
}
/* END OF ANIMATION OVERLAY UP TO DOWN*/
/*THE MAIN SECTIONS ENDS HERE*/

/*THE FOOTER STARTS HERE*/

footer {
  height: 200px;
  background-color: #ee3349;
  color: white;
}

footer div {
  width: 960px;
  margin: auto;
}
footer span {
  display: block;
  font-size: 0.8em;
  padding-top: 1em;
}

/*THE FOOTER ENDS HERE*/

#about_main {
  width: 960px;
  margin: auto;
  padding: 0 130px;
}

/********************
ABOUT PAGE
********************/
p {
  margin: 2em 0 4em 0;
  line-height: 1.5;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]{
    width: 50%; /* Full width */
  }

textarea {
    width: 100%; /* Full width */
  }

input[type=submit] {
    background-color: #ee3349;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #df293f;
}

/* Add a background color and some padding around the form */
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    margin: 50px auto;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}

/*#about_main ul {
  padding: 0;
  margin: 0;
}*/

@media screen and (max-width: 1200px) {
  .main div {
    min-width: 33%;
  }
  .text {
    width: 12.5em;
  }

  .text h2 p {
    margin-left: 1em;
  }
}

@media screen and (max-width: 900px) {
  .main div {
    min-width: 50%;
  }
}

@media screen and (max-width: 685px) {
  .tagline {
    width: 6em;
  }
}

@media screen and (max-width: 600px) {
  .main div {
    min-width: 100%;
  }
  .text h2 p {
    font-size: 1em;
    margin-left: 2em;
  }
  .tagline {
    display: none;
  }
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 0.6em;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: block;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*****************************
SLIDESHOW STYLE STARTING HERE
*****************************/

#image-container-wrapper{
    width: 700px;
    height:520px;
    overflow: hidden;
    border: 1px solid lightgrey;
}

.images {
     width:5600px;
     height: 520px;
     display: flex;
}

.images img {
     margin-left:0;
     width: 700px;
     transition: all 1s ease;
}

img.img-moved-left {
     margin-left: -700px;
}

.img-moved-right{
     margin-left: 0px;
}

.left {
  height: 30px;
  /*justify-content: flex-end;*/
  position: absolute;
  z-index: 1;
  margin-left: 675px;
  margin-top: 255px;
}

.right {
  height: 30px;
  position: absolute;
  z-index: 1;
  margin-top: 255px;
}
