* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
}


/*THE HEADER STARTS HERE*/

header {
  height: 85px;
  max-width: 960px;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.left_side {
  display: flex;
}

.logo {
  height: 2em;
  margin: 1.5em;
  /*float: left;*/
}

.tagline {
  display: block;
  /*float: left;*/
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 1.5em;
}

.primary_nav{
  /*float: left;*/
  margin-top: 1em;
  width: 75%;
  text-align: right;
}

.primary_nav li {
  display: inline-block;
}

.primary_nav a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 1em;
  padding: 6px 15px;
}

.button {
  border-radius: 5px;
  border: 1px solid black;
}


/*THE HEADER ENDS HERE*/

/*THE MAIN CONTENT STARTS HERE*/

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main div {
  min-width: 25%;
}

.main div img {
  width: 100%;
  height: 100%;
}

.main .container .overlay .text {
  min-width: 0%;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  min-width: 0%;
}

.overlayMask {
  min-width: 0%;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*THE MAIN SECTIONS ENDS HERE*/

/*THE FOOTER STARTS HERE*/

footer {
  height: 200px;
  background-color: #ee3349;
  color: white;
}

footer div {
  width: 960px;
  margin: auto;
}
footer span {
  display: block;
  font-size: 0.8em;
  padding-top: 1em;
}

/*THE FOOTER ENDS HERE*/

#about_main {
  width: 960px;
  margin: auto;
  padding: 0 130px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]{
    width: 50%; /* Full width */
  }

textarea {
    width: 100%; /* Full width */
  }

input[type=submit] {
    background-color: #ee3349;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #df293f;
}

/* Add a background color and some padding around the form */
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    margin: 50px auto;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}

#about_main ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .main div {
    min-width: 33%;
  }
}

@media screen and (max-width: 900px) {
  .main div {
    min-width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .main div {
    min-width: 100%;
  }
}
